.createPostPage .cpContainer .submit {
    width: 200px;
    height: 60px;
    border: 2px solid #fff;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin: 20px 0px 0px 150px;
}